<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <contextName>logback</contextName>

    <property name="PATTERN" value="%d %p [%t][%c.%M:%L] - %m%n" />
    <property name="CHARSET" value="UTF-8" />
    <property name="LOG_DIR" value="logs" />

    <appender name="console"
        class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="file"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/log.log</file>
        <encoder>
            <pattern>${PATTERN}</pattern>
            <charset>${CHARSET}</charset>
        </encoder>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/log_%d.%i.log</fileNamePattern>
            <maxHistory>100</maxHistory>
            <maxFileSize>50MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.apache" level="WARN" />
    <logger name="org.mybatis" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="org.mongodb" level="WARN" />
    <logger name="org.activiti" level="WARN" />
    <logger name="org.quartz" level="WARN" />
    <logger name="org.jboss" level="WARN" />
    <logger name="com.ibatis" level="WARN" />
    <logger name="com.alibaba" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="io.swagger" level="ERROR" />
    <logger name="springfox" level="WARN" />
    <logger name="com.baomidou" level="WARN" />
    <logger name="com.netflix" level="WARN" />
    <logger name="reactor.ipc" level="WARN" />

    <root level="WARN">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>